@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-roman.var.woff2?v=3.19")
    format("woff2");
  font-named-instance: "Regular";
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  font-size: 18px;
}

@media only screen and (min-device-width: 480px) {
  html {
    font-size: 21px;
  }
}

::selection {
  @apply bg-yellow-300 dark:bg-purple-500 bg-opacity-70;
}

/* Headings */

.heading:hover .anchor {
  @apply opacity-100;
}

/* Responsive tables */
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  td {
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    white-space: nowrap;
    content: attr(data-column);
    font-weight: bold;
  }
}
